In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.linear_model import LinearRegression,LassoCV,RidgeCV,Lasso,Ridge
from sklearn.ensemble import (RandomForestRegressor,ExtraTreesRegressor,
GradientBoostingRegressor, AdaBoostRegressor)
from xgboost import XGBRegressor

In [3]:
df=pd.read_csv('final_data.csv')

In [54]:
df.head()

,Price,Distance_travelled,Ownership,Company_name,Model_name,car_life,Fuel_type_Petrol,Fuel_type_Petrol + CNG,Fuel_type_Petrol + LPG,Transmission_MANUAL,Insurance_type_Insurance Expired,Insurance_type_Not Available,Insurance_type_Third Party,Insurance_type_Zero Depreciation,City_Bangalore,City_Chennai,City_Gurgaon,City_Hyderabad,City_Kolkata,City_Mumbai,City_NewDelhi,City_Noida,City_Pune
0,239899,12501,1,5,85,10,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,178099,34028,1,5,4,10,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
2,394199,24022,1,5,77,8,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
3,231299,35726,2,3,67,8,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
4,533899,19330,2,3,33,4,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [5]:
X=df.drop('Price',axis=1)
y=df['Price']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [53]:
pd.set_option('display.max_columns',100)
X_train.head()

,Distance_travelled,Ownership,Company_name,Model_name,car_life,Fuel_type_Petrol,Fuel_type_Petrol + CNG,Fuel_type_Petrol + LPG,Transmission_MANUAL,Insurance_type_Insurance Expired,Insurance_type_Not Available,Insurance_type_Third Party,Insurance_type_Zero Depreciation,City_Bangalore,City_Chennai,City_Gurgaon,City_Hyderabad,City_Kolkata,City_Mumbai,City_NewDelhi,City_Noida,City_Pune
1239,248767,3,8,49,11,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
1038,51266,2,5,90,11,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0
2550,62745,1,1,27,7,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1649,31946,1,5,85,3,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
1818,31094,1,3,68,12,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0

In [8]:
# for using linear regression data should be scaled

In [9]:
scaler=StandardScaler()

In [10]:
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

# Linear_regression

In [11]:
Lin_reg=LinearRegression()

In [12]:
Lin_reg.fit(X_train_scaled,y_train)

LinearRegression()

In [13]:
y_len_pred=Lin_reg.predict(X_test_scaled)

In [14]:
r2_score(y_test,y_len_pred)

0.46073449615982565

In [15]:
Lin_reg.score(X_test_scaled,y_test)

0.46073449615982565

In [16]:
Lin_reg.score(X_train_scaled,y_train)

0.5268265503243003

In [17]:
# using Lasso and Ridge

In [18]:
lassocv = LassoCV(alphas = None,cv =10, max_iter = 100000, normalize = True)

In [19]:
lassocv.fit(X_train_scaled,y_train)

LassoCV(cv=10, max_iter=100000, normalize=True)

In [20]:
alpha=lassocv.alpha_

In [21]:
alpha

13.714539899506043

In [22]:
lasso_reg = Lasso(alpha)
lasso_reg.fit(X_train_scaled, y_train)

Lasso(alpha=13.714539899506043)

In [23]:
lasso_reg.score(X_test_scaled,y_test)

0.4607372136905591

In [24]:
alphas = np.random.uniform(low=0, high=10, size=(50,))
ridge_cv=RidgeCV(alphas=alphas,cv=10,normalize=True)

In [25]:
ridge_cv.fit(X_train,y_train)

RidgeCV(alphas=array([0.64253005, 0.76439116, 0.87263405, 1.64772102, 7.37325899,
       4.29710849, 4.46868271, 0.82178711, 6.27587897, 9.60225999,
       9.29718487, 1.60733088, 4.53593455, 6.07731585, 2.69729754,
       9.62094381, 9.59111942, 3.49645743, 0.8803691 , 7.36056647,
       5.61176801, 5.99336979, 2.74417262, 7.02949337, 8.42564598,
       1.13177158, 8.7641673 , 0.30276336, 3.97011693, 9.74689062,
       4.97903262, 2.14737009, 4.60770322, 5.82419913, 2.71753072,
       8.89295708, 8.19937102, 7.57135782, 2.41612533, 1.33330727,
       7.9554106 , 4.01182533, 3.02110185, 6.95732067, 1.65400453,
       2.05253085, 6.3615268 , 1.86971355, 9.10698663, 7.85666067]),
        cv=10, normalize=True)

In [26]:
alpha=ridge_cv.alpha_

In [27]:
ridge_reg = Ridge(alpha)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.3027633550578124)

In [28]:
ridge_reg.score(X_test,y_test)

0.4606931211546953

# Random forest regressor

In [29]:
rf_reg=RandomForestRegressor(random_state=1)

In [30]:
rf_reg.fit(X_train,y_train)

RandomForestRegressor(random_state=1)

In [31]:
rf_reg.score(X_test,y_test)

0.8179858305502727

In [32]:
y_rf_pred=rf_reg.predict(X_test)

In [33]:
r2_score(y_test,y_rf_pred)

0.8179858305502727

In [34]:
rf_reg.score(X_train,y_train)

0.9841146967785923

In [35]:
grid_param = {
    "n_estimators" : [90,100,110,120],
    'criterion': ['mse'],
    'max_depth' : range(2,15,1),
     'min_samples_leaf' : range(1,8,1),
     'min_samples_split': range(2,8,1),
    'max_features' : ['auto','log2','sqrt']
}

In [36]:
grid_search = GridSearchCV(estimator=rf_reg,param_grid=grid_param,cv=5,n_jobs=-1,verbose=3)

In [37]:
grid_search.fit(X_train,y_train)

Fitting 5 folds for each of 6552 candidates, totalling 32760 fits

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=1), n_jobs=-1,
             param_grid={'criterion': ['mse'], 'max_depth': range(2, 15),
                         'max_features': ['auto', 'log2', 'sqrt'],
                         'min_samples_leaf': range(1, 8),
                         'min_samples_split': range(2, 8),
                         'n_estimators': [90, 100, 110, 120]},
             verbose=3)

In [38]:
grid_search.best_estimator_

RandomForestRegressor(max_depth=14, n_estimators=120, random_state=1)

In [39]:
grid_search.best_params_

{'criterion': 'mse',
 'max_depth': 14,
 'max_features': 'auto',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 120}

In [40]:
gs_rf_reg=RandomForestRegressor(n_estimators=120,max_depth=14,max_features='auto',
                                min_samples_leaf=1,min_samples_split=2,random_state=1)

In [41]:
gs_rf_reg.fit(X_train,y_train)

RandomForestRegressor(max_depth=14, n_estimators=120, random_state=1)

In [44]:
gs_rf_reg.score(X_test,y_test)

0.8106965583154442

In [43]:
gs_rf_reg.score(X_train,y_train)

0.9806061172155438

# Extra Tree regressor

In [96]:
et_reg=ExtraTreesRegressor()

In [97]:
et_reg.fit(X_train,y_train)

ExtraTreesRegressor()

In [98]:
et_reg.score(X_test,y_test)

0.7465033721836555

# Gradient boost regressor

In [46]:
gb_reg=GradientBoostingRegressor()

In [47]:
gb_reg.fit(X_train,y_train)

GradientBoostingRegressor()

In [48]:
gb_reg.score(X_test,y_test)

0.7787562726329925

In [49]:
gb_reg.score(X_train,y_train)

0.8848553326061077

# Ada Boost regressor

In [102]:
ada_reg=AdaBoostRegressor()

In [103]:
ada_reg.fit(X_train,y_train)

AdaBoostRegressor()

In [104]:
ada_reg.score(X_test,y_test)

0.4436576332252621

# XG boost regressor

In [55]:
xg_reg=XGBRegressor()

In [56]:
xg_reg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [57]:
xg_reg.score(X_test,y_test)

0.8248448850268068

In [58]:
xg_reg.score(X_train,y_train)

0.9938745295649154

In [66]:
X_train.shape

(2342, 22)

In [75]:
x=X.iloc[:10]
x

,Distance_travelled,Ownership,Company_name,Model_name,car_life,Fuel_type_Petrol,Fuel_type_Petrol + CNG,Fuel_type_Petrol + LPG,Transmission_MANUAL,Insurance_type_Insurance Expired,Insurance_type_Not Available,Insurance_type_Third Party,Insurance_type_Zero Depreciation,City_Bangalore,City_Chennai,City_Gurgaon,City_Hyderabad,City_Kolkata,City_Mumbai,City_NewDelhi,City_Noida,City_Pune
0,12501,1,5,85,10,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,34028,1,5,4,10,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
2,24022,1,5,77,8,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
3,35726,2,3,67,8,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
4,19330,2,3,33,4,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
5,11019,1,5,74,8,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
6,9036,1,5,5,4,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
7,25088,2,5,6,11,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
8,29645,1,5,6,11,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
9,31999,1,5,73,9,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0

In [76]:
xg_reg.predict(x)

array([239573.8 , 212969.48, 383690.22, 267467.06, 497050.16, 365129.38,
       338509.78, 183012.6 , 185267.22, 314651.3 ], dtype=float32)

In [79]:
import pickle

In [80]:
f=open('model_rf_reg.pkl','wb')
pickle.dumpr(rf_reg,f)
f.close()

As RandomForestRegressor is giving the better results saving that model for using car price prediction